*{
    padding: 0%;
    margin: 0%;
}


    .banner{
        width: 100%;
        height: 100vh;
        background-image:url(volodymyr-hryshchenko-e8YFkjN2CzY-unsplash.jpg);
        background-size: cover;
        background-position: center;
       
    }
    h1{
        color: #fff;
        font-size: 70px;
        text-align: center;
    }
    .pic2{
        position: absolute;
        right: 25%;
    }
    .button{
        position: absolute;
        font-size: 20px;
        bottom:20%;
        right: 40%;
        background-color:#fff;
        border-radius:20px;
        border: 3px solid rgb(201, 201, 4);
        font-weight: bold;
    }

        @media only screen and (max-width: 480px) {
            .banner {
              background-image: url('volodymyr-hryshchenko-e8YFkjN2CzY-unsplash.jpg');
              background-size: cover;
              position: fixed;
              top: 0%;
              left: 0%;
              width: 100%;
              height: 100%;
             
            }
          
        
        h1{
            color: #fff;
            font-size: 50px;
            text-align: center;
        }
        .pic2{
            position: absolute;
            right: 5%;
            width: 300px;
            height: 200px;
        }
        .button{
            position: absolute;
            font-size: 20px;
            bottom:30%;
            justify-content: center;
            background-color:#fff;
            border-radius:20px;
            border: 3px solid rgb(201, 201, 4);
            font-weight: bold;
        }
        
    }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        .banner {
            background-image: url('volodymyr-hryshchenko-e8YFkjN2CzY-unsplash.jpg');
            background-size: cover;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
           
          }
        
      
      h1{
          color: #fff;
          font-size: 50px;
          text-align: center;
      }
      .pic2{
          position: absolute;
          right: 5%;
          width: 300px;
          height: 200px;
      }
      .button{
          position: absolute;
          font-size: 10px;
          bottom:30%;
         justify-content: center;
          background-color:#fff;
          border-radius:20px;
          border: 3px solid rgb(201, 201, 4);
          font-weight: bold;
      }
      

    }